<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav font">
                <li><a href="/"><i class="fas fa-home"></i>  Home</a></li>
                <li><a href="/note"><i class="fas fa-plus"></i>  Create Note</a></li>
            </ul>
        </div>

    </div>
</nav>

