main,.font{
    font-family: Montserrat, sans-serif;
}
.text_green{
    color: green;
}

input{
    width: content-box;
    background: darkseagreen;
    border-color:transparent;
    height: 50px;
    border-radius:10px;
}
#heigh{
    height: 20px;
    margin-bottom: 5px;
}

h4{
    margin-left: 10px;
}
.position > a{
    color: darkslategray;
    font-size: 15px;
    padding-bottom: 10px;
}

.position > a:hover{
    text-decoration: none;
    color: lightyellow;
    cursor: pointer;
}
.color-list{

}
.color-note{
    background-color: darkseagreen;
}
form{
    display: flex;
    flex-direction: column;
    color:darkslategray;
    background-color: darkseagreen;
    width: 300px;
    border-radius:10px;
    border-color:lightgray;
    height: content-box;
}
form > input{
    color: lightyellow;
    font-size: 15px;
    display: block;
    height: content-box;
    margin: 0px 10px 0px 10px;

}
.position{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}
#TestJava{
    margin-top: 20px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}