<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <form class="color" action="/note" method="POST">
            <h4><%= notes %></h4>
            <div class="position"><a href="/note/edit"><i class="fas fa-share"></i>  Edit Note</a>
                <a href="/note/delete"><i class="fas fa-trash-alt"></i>  Delete</a>
                <a type="submit"><i class="fas fa-check"></i>  Submit</a>
            </div>
        </form>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>