<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <p>Place for a new Note</p>
        <form class="color" action="/note" method="POST">
        <h4>Enter you text below</h4>
        <input id="exampleTextarea" rows="6" cols="25" name="title" placeholder="Type..." autofocus required></input>
        <div class="position"><a href="/note/edit"><i class="fas fa-share"></i>  Edit Note</a>
            <a href="/note/delete"><i class="fas fa-trash-alt"></i>  Delete</a>
            <a type="submit"><i class="fas fa-check"></i>  Submit</a>
        </div>
        </form>
    </div>

    <ul>
    <%notes.forEach(function(note){%>
        <li>
         <%= note.title %>
        </li>
    
       <%})%>
    </ul>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>